@import "../../../../../styles/_variables";

.insurance-result {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: stretch;
  border: 1px solid $brand-lightgrey;
  border-radius: 5px;

  //min-height: 200px;
  margin-top: 32px;
  margin-bottom: 32px;

  &.first {
    margin-top: 0;
  }

  &.last {
    margin-bottom: 0;
  }

  &-logo {
    flex-basis: 30%;
    flex-shrink: 0;
    flex-grow: 1;
    text-align: center;

    > div {
      padding: 20px 15%;
    }

    img {
      width: 100%;
    }
  }

  &-body {
    flex-grow: 5;
    flex-basis: 250px;
    flex-shrink: 0;

    padding: 14px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    //min-height: 200px;
  }

  &-per-month {
    margin-top: 0;
    margin-bottom: 4px;
  }

  &-per-year {
    margin-top: 0;
    font-weight: 400;
  }

  &-text {
    margin-top: 8px;
    margin-bottom: 18px;
  }

  &-offer {
    padding: 8px 16px;
    background-color: rgba($brand-lightgrey, 0.3);
    border-radius: 5px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
  }

  &-buttons {
    flex-basis: 25%;
    flex-shrink: 0;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba($brand-lightgrey, 0.2);

    padding: {
      top: 10px;
      bottom: 4px;
      left: 27px;
      right: 27px;
    }
  }

  &-buttons-inner {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    width: 100%;
    max-width: 180px;

    .primary-button {
    }

    .btn-link {
      align-self: center;
    }
  }

  @media (max-width: $screen-xs-max) {
    &-logo {
      text-align: left;

      > div {
        padding-left: 14px;
        padding-right: 14px;

        img {
          max-width: 150px;
        }
      }
    }
  }
}

.no-quotes {
  color: $brand-darkgrey;
}

.insurance-error {
  width: auto !important;
  max-width: $max-text-width;
}
