{% extends "admin/base_site.html" %}
{% block title %}Order Tiles{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumb">
    <li style="list-style: None;"><a href="/admin/">Home</a>
        <span class="divider">»</span></li>
    <li style="list-style: None;"><a href="/admin/ui_controllers/">UI Controllers</a>
        <span class="divider">»</span></li>
    <li style="list-style: None;">Ordering Tiles
        <span class="divider">»</span></li>
    </div>
{% endblock %}
{% block content %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <div class="muted">
        Drag and drop table rows to set the order.<br/>
    </div>
    {% for category_tiles in tiles %}
        <h2 class="text-info text-center">{{ category_tiles.name | title }}</h2>
        <table id="result_list" class="table table-striped table-bordered table-hover table-condensed">
            <thead>
            <tr>


                <th scope="col" class="id-column sortable column-id">


                    <div class="text">
                        <a href="#">ID</a>
                    </div>
                </th>
                <th scope="col" class="name-column sortable column-name">


                    <div class="text">
                        <a href="#">Name</a>
                    </div>
                </th>
                <th scope="col" class="name-column sortable column-name">


                    <div class="text">
                        <a href="#">Category</a>
                    </div>
                </th>
                <th scope="col" class="name-column sortable column-name">


                    <div class="text">
                        <a href="#">Status</a>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody id="sortable{{ category_tiles.id }}">

            {% for tile in category_tiles.tiles %}

                <tr class="row1" id="{{ tile.id }}">

                    <th class="field-id"><a
                            href="/admin/ui_controllers/controllertile/{{ tile.id }}/change/">{{ tile.id }}</a></th>
                    <td class="field-name">{{ tile.tile_name }}
                    </td>
                    <td class="field-name">{{ category_tiles.name | title }}
                    </td>
                    <td class="field-name">{% if tile.is_active %} Active {% else %} Preview {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button class="pull-right btn btn-info" id="update-order{{ category_tiles.id }}">Set Order</button><br/>
        <script>
            $( function() {
                $( "#sortable{{ category_tiles.id }}" ).sortable();
                $("#update-order"+'{{ category_tiles.id }}').click(function (evt) {
                    var childs =  $("#sortable{{ category_tiles.id }}").children();
                    var results = [];
                    for(i=0; i<childs.length; i++){
                        div_id = $(childs[i]).attr("id");
                        results.push(div_id);
                    }
                    console.log(results);
                    var url = '{% url "ui_controls:tile_ordering" %}';
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: JSON.stringify({'ui_tile_order': results}),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (response) {
                            alert(response.message);
                        }
                    })

                })
            } );
        </script>

    {% endfor %}
{% endblock %}