@import 'styles/_colors';

$content-padding: 12px;

.empty-state {
	text-align: center;
	width: 100%;
	min-height: 400px;

	display: flex;
	align-items: center;
	justify-content: center;

	color: $brand-darkgrey;

	font-size: 2rem;

	&.inline {
		min-height: 0;
		padding: $content-padding;

		font-size: 1.2em;
	}
}