@import 'styles/_variables';

.tile-category-dropdown {
	display: flex;

	> .field {
		&:first-child {
			margin-right: $content-margin;
		}
	}

	&-option {
		&-province {
			opacity: .6;
			margin-left: $content-padding / 2;
			font-size: .8em;

			&:empty {
				display: none;
			}
		}
	}
}