.btn-default {
  color: #333;
  background-color: #fff;
  border-color: $brand-red;
}

.btn-default:hover {
  color: #fff;
  background-color: $brand-red;
  border-color: $brand-red;
}

.btn-default:focus {
  color: #fff;
  background-color: $brand-red;
  border-color: $brand-red;
}

.red-link {
  padding-left: 0;
  padding-right: 0;
  border-width: 0;
  color:$brand-red;
  &:hover{
  color:#ccc;
  text-decoration: underline;
  .radial-circle {
    background-color: $brand-red;
    border-color: $brand-red;
    color: $brand-white;
  }
  }
}



.radial-circle{
  border: 1px solid $brand-red;
  width: 0px;
  display:inline-block;
  background: $brand-white;
  height: 30px;
  border-radius: 50%;
  position: relative;
  color: $brand-red;
  padding: 0;
  margin: 0;
  &.dark {
    background-color: transparent;
  }

  &.large {
    width: 43px;
    height: 43px;
    
    > .icon-arrow-left,
    > .icon-arrow-right {
      font-size: 9px;
    }
  }

  &.tiny {
    width: 20px;
    height: 20px;
  }

  &:active,
  &:hover {
    box-shadow: none;
  }

  &.expanded {
    border-color: $brand-darkgrey;
  }

  &:hover,
  &.hover {
    background-color: $brand-red;
    border-color: $brand-red;
    color: $brand-white;
  }

  > .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}