// primary colors

$brand-red: #ed222c;
$brand-darkblue: #232c3a;
$brand-white: white;
$brand-darkgrey: #858789;
$brand-lightgrey: #d3d5d8;
$brand-black: black;

// secondary colors

$brand-orange: #ff8b28;
$brand-yellow: #ffcd1e;
$brand-green: #59df70;
$brand-blue: #3d8be5;

// other colors

$mediumblue: #383f4b;
