@import '_variables';
@import '_typography';

.card {
    border: 1px solid #e3e3e3;
    background-color: $brand-white;
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
    margin: 16px 0;

    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        height: 8px;
        background-color: $brand-red;
    }

    &-inner {
        display: flex;
        justify-content: stretch;
        align-items: stretch;
        flex-wrap: wrap;
        height: 100%;
    }

    &-image {
        flex-basis: 33.33%;

        background-size: cover;
        background-position: center;
    }

    &-content {
        flex-basis: 66.66%;
        flex-grow: 1;
        height: 100%;

        padding: 28px 52px;

        p {
            color: $brand-darkgrey;
        }
    }

    @media (max-width: $screen-xs-max) {
        &-image {
            display: none;
        }
    }
}