{% extends 'admin/base_site.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4 center-block" style="margin-left: 10%;">
    <h3 class="text-center">{{ title }}</h3>
        <form action="{{ analytics_url }}" method="post" class="form-control">
            {% for form_field in form %}
                <label for="{{ form_field.name }}" >{% if form_field.label %}{{ form_field.label }}{% else %}{{ form_field.name }}{% endif %}</label>
                <input class="form-control" required type="{{ form_field.type }}" name="{{ form_field.name }}" placeholder="{{ form_field.placeholder }}" value=""><br/>
            {% endfor %}
        <input type="submit" name="submit" class="btn btn-default">
        </form>
    </div>
</div>
{% endblock %}

