<style>
    .navbar-text-inside {
        color: #2b2b2b
    }

    body {
        background-color: #a7b2b9;
        padding-top: 0px;
    }

    .bg-analytics {
        background-color: #fefefe
    }

    .analytics-title {
        color: #ed3833;
    }

    .navbar-brand:after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        width: 1px;
        top: 38px;
        bottom: 8px;
        background-color: transparent;
        transition: none;
    }

    .logo {
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…QgODIuNSwxNTMuMSAxNTYuNSwxNTMuMSAxNjkuOCwxNzguNiAJIi8+CjwvZz4KPC9zdmc+Cg==);
        top: 0;
        bottom: 0;
        transition: bottom .5s;
    }

    .fa-green{
        color: #1dd35f;
    }
    .fa-red{
        color: #ff0000;
        text-align: center;
    }
    ul.thumb_img_sec {

        display:inline-block;width:100%;

    }
    .thumb {


        margin:0 5px;
        vertical-align:top;
        width:200px;
        height: auto;
    }
     input, select {
        width: 100%;
    }
    .table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #e9ecef;
    text-align: center;
    }


</style>