<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome, {{ first_name| title }}</title>
</head>
<body>
<h2 style="text-align: center">Welcome, {{ first_name| title }}</h2>
<p style="text-align: justify">Please Verify your email using this link</p>

<br>
<img width="50" height="50" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAyMDMuNiAyMzAuOCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjAzLjYgMjMwLjg7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojRjQyNTM0O30KCS5zdDF7ZmlsbDojMjIyOTQ0O30KPC9zdHlsZT4KPGcgaWQ9Ikljb24iPgoJPHBvbHlnb24gY2xhc3M9InN0MSIgcG9pbnRzPSIxMTYuNiwyNS4zIDEwNCwwIDEwLjksMTc4LjYgMzYuNywxNzguNiAJIi8+Cgk8cG9seWdvbiBjbGFzcz0ic3QwIiBwb2ludHM9IjE5NS41LDE3OC42IDEyOS44LDUyLjIgMTE3LDc3LjEgMTQzLjEsMTI3LjQgOTYsMTI3LjQgODIuNSwxNTMuMSAxNTYuNSwxNTMuMSAxNjkuOCwxNzguNiAJIi8+CjwvZz4KPC9zdmc+Cg==">
<h4>
    Autolife Canada,
</h4>
<p>
    50 Leek Cresent
    Suite 2B
    Richmond Hill, ON
    L4B 4J3
</p>
</body>
</html>