<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 600px; color: #858789; font-family: 'neusanextpro', sans-serif; font-size: 12px;">


    <tr>
        <td style="padding: 40px 10px; font-family: 'neusanextpro', sans-serif; font-size: 12px; line-height: 140%; text-align: center; color: #858789;" class="x-gmail-data-detectors">
            <!--<webversion style="color: #ffffff; text-decoration: underline; font-weight: bold;">View as a Web Page</webversion>-->
            <br><br>
            © 2018 AutoLife  •  50 Leek Crescent, Suite 2B, Richmond Hill, ON, L4B 4J3
            <br><br>
            <!--<unsubscribe style="color: #ffffff; text-decoration: underline;">unsubscribe</unsubscribe>-->

            <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 300px; color: #858789">
                <tr>
                    <td width="25%">
                        <a href="https://www.facebook.com/AutoLifeCA/">
                            <img src="http://www.autolife.ca/email-templates/img/facebook.png" width="44" height="44" alt="Facebook" border="0" style="height: auto; background: #ECECEC; font-family: sans-serif; font-size: 15px; line-height: 140%;" />
                        </a>
                    </td>
                    <td width="25%">
                        <a href="https://www.youtube.com/channel/UCe61ki53tmSI1wF54nPBuaQ">
                            <img src="http://www.autolife.ca/email-templates/img/youtube.png" width="44" height="44" alt="Youtube" border="0" style="height: auto; background: #ECECEC; font-family: sans-serif; font-size: 15px; line-height: 140%;" />
                        </a>
                    </td>
                    <td width="25%">
                        <a href="https://www.instagram.com/Autolifeca/">
                            <img src="http://www.autolife.ca/email-templates/img/instagram.png" width="44" height="44" alt="Instagram" border="0" style="height: auto; background: #ECECEC; font-family: sans-serif; font-size: 15px; line-height: 140%;" />
                        </a>
                    </td>
                    <td width="25%">
                        <a href="https://twitter.com/Autolifeca">
                            <img src="http://www.autolife.ca/email-templates/img/twitter.png" width="44" height="44" alt="Twitter" border="0" style="height: auto; background: #ECECEC; font-family: sans-serif; font-size: 15px; line-height: 140%;" />
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

