.clearall {
  clear: both;
}
.redBorder {
  border: 1px solid #ed222c;
}

.container-wide {
  margin: 0px 80px;
}
.container-zero-pad {
  padding: 0px;
}
.row-zero-margin {
  margin: 0px;
}

.display-inline {
  display: inline;
}
