@import 'styles/_variables';

.ottawa {
  &-carsandjobs {
    margin-top: 80px;
  }

  @media (max-width: $screen-sm-max) {
    &-carsandjobs {
      .tout-image {
        width: 300px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}