
  .slider-wrapper {
      flex-grow: 1;
      color: #fff;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      padding: 0 13%;
      padding-bottom: 100px;
    }
    .slider-bar{
      position: relative;
      width: 10%;
      height: 60vh;
      min-height: 433px;
    }
    .step_fill_bg_clr {
      background-color: #de0d0d !important;
    }
    .step_empty_bg_clr {
      background-color: hsla(0, 4%, 23%, 0.3) !important;
    }
    .step_width {
      height: 70% !important;
    }
    .step_start_clr {
      border: 1px solid #de0d0d !important;
    }